### 1. List
- An ordered, mutable collection that allows duplicates.


You can create a list in python by using angle brackets (`[]`) bellow is an example of how to create a list in python.

In [1]:
A = [2, 3, 2, [5, 7], "Male", 'c', True]
A

[2, 3, 2, [5, 7], 'Male', 'c', True]

Let's have a look at some list methods that we have in python.

1. ``append``- this method adds an element at the end of a list in python.

In [45]:
A.append(10)
A

['First', 10, 10, True, 'c', 'Male', [5, 7], 2, 3, 2, 10]

2. `count` - counts elements in a list.

In [5]:
A.count(2)

2

3. `reverse` - reverses a list. This operation modify a list inplace.

In [13]:
A.reverse()
A

[10, 10, True, 'c', 'Male', [5, 7], 2, 3, 2]

> You can ``reverse`` a list as follows:

In [47]:
C = C[::-1]
C

[6, 5, 4, 3, 2, 1]

4. `index` - this method return the index of an element in the list.

In [14]:
A.index(True)

2

5. `insert` - This method insert an element at a given index in a list.

In [15]:
A.insert(0, "First")
A

['First', 10, 10, True, 'c', 'Male', [5, 7], 2, 3, 2]

In [16]:
A.insert(1, "Second")
A

['First', 'Second', 10, 10, True, 'c', 'Male', [5, 7], 2, 3, 2]

6. `pop` - removes the last element in a list from a list and returns it, if the index is not specified.

In [17]:
second = A.pop(1)
print(second)
print(A)

Second
['First', 10, 10, True, 'c', 'Male', [5, 7], 2, 3, 2]

7. `extend` - extend a list from another iteratable/list.

In [24]:
C = [1, 2,3]
D = [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [26]:
C.extend(D)
C

[1, 2, 3, 4, 5, 6]

You can concatenate a list by using the `+` operator for example.

In [48]:
C+ D

[6, 5, 4, 3, 2, 1, 4, 5, 6]

You can duplicate the elements in a list using the `*`.

In [27]:
C*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

You can use the `len()` method to how many check the elements in a list.

In [49]:
print("D: ", len(D))

D:  3

Indexing list you use the `[]` brackets

- Note that lists are 0 indexed in python meaning the first element of a list has index `0`.
- Python allows negative index to index a list in ``reverse``.

In [30]:
print("First Element: ", C[0])
print("Sec Element: ", C[1])

First Element:  1
Sec Element:  2

In [33]:
print("Last Element: ", C[len(C)-1])

Last Element:  6

In [34]:
print("Last Element: ", C[-1])
print("Second Last Element: ", C[-2])

Last Element:  6
Second Last Element:  5

You can do list slicing in python using the `[min:max]` where min and max are index which are the minimum and maximum index of elements that you want to slice in a python list. 

> 🤔 Note that  element at `max` is not included when indexing, which means elements can be index from ``min`` to `max-1`

In [36]:
C[0:3]

[1, 2, 3]

In [38]:
C[-4:-1]

[3, 4, 5]

In [39]:
C[1:]

[2, 3, 4, 5, 6]

List comprehension is a useful feature of python list that allows you to modify or filter elements in a list.

In [41]:
[i * 2 for i in C]

[2, 4, 6, 8, 10, 12]

In [44]:
[i * 2 if i %2 == 1 else i for i in C]

[2, 2, 6, 4, 10, 6]

### 2. Tuples

An ordered, immutable collection that allows duplicates.


You can create a tuple in python using two sythax wich are:

In [55]:
t1 = 'a', 'b', 'c', 'd', 'e'
t2 = (2, 3, True, [8, 8])

t10 = tuple("Hello, There")

t10

('H', 'e', 'l', 'l', 'o', ',', ' ', 'T', 'h', 'e', 'r', 'e')

In [53]:
type(t1)

tuple

To create a turple with as single element you can do it as follows:

In [8]:
t3 = (3, )
# or
t4 = 3,
# empty tuple
t5 = ()

type(t5)

tuple

> 📖 Tuples are imutable meaning that you can't change the elements of it unlike a python list.

You can concatenate tuples

In [9]:
t6 = 9,
t7 = (2, 3, 8)

t8 = t6 + t7
t8

(9, 2, 3, 8)

You can check the size of a tuple using the `len` function as follows:

In [10]:
size = len(t8)
print("Size: ", size)

Size:  4

You can reverse a tuple use `[::-1]`  or the `reversed()` python method as follows:

In [11]:
t8[::-1]

(8, 3, 2, 9)

In [13]:
tuple(reversed(t8))

(8, 3, 2, 9)

You can index tuples just the way you index python list, bellow are examples of indexing tuples in python.

In [14]:
t8[0]

9

In [15]:
t8[-2]

3

In [16]:
t8[-3: ]

(2, 3, 8)

The following is an example of where tuples can be used:

1. fuction return.

In [19]:
def sum_numbers_and_return_numbers(a, b):
    return a+b, [a, b]


sum, numbers = sum_numbers_and_return_numbers(5, -19)

print("Sum: ", sum)
print("Numbers: ", numbers)

Sum:  -14
Numbers:  [5, -19]

### 3. Dictionaries

An unordered collection of key-value pairs, where keys are unique.

You can create an empty dictionary by using the `{}`

In [21]:
empty_dict = {}
type(empty_dict)

dict

In the following example we are going to create the `user` dictionary with some user's information.

In [22]:
user = {
    'name': "Jonh", "surname": "Doe", "age": 67, "gender": "M", "fav": ["soccer", "green", "cooking"]
}
user

{'name': 'Jonh',
 'surname': 'Doe',
 'age': 67,
 'gender': 'M',
 'fav': ['soccer', 'green', 'cooking']}

You can use the `len` function to check the number of keys in a `dictionary`

In [23]:
len(user)

5

To access the elements of a dictionary you use the `get(key)` or the `[key]` sythax

> 😒 Note that the `get` method does not raise a key error if the key does not exists it returns none instead.

In [24]:
user['name']

'Jonh'

In [25]:
user.get("age")

67

You can avoid `KeyError` by using `try` and `catch` when accessing elements of a dictionary.

In [29]:
try:
    print(user['location'])
except KeyError:
    print("'location' is not a key in user")

'location' is not a key in user

You can check the dictionary keys by using the `keys()` method.

In [30]:
user.keys()

dict_keys(['name', 'surname', 'age', 'gender', 'fav'])

You can check the dictionary valued by using the `values()` method.

In [32]:
user.values()

dict_values(['Jonh', 'Doe', 67, 'M', ['soccer', 'green', 'cooking']])

In [33]:
key = 'location'
print(user[key] if key in user.keys() else "'location' is not a key in user")

'location' is not a key in user

You can use the `items()` to get the keys and values of a dictionary as a tuple of elements where the first element represent a key and the second element is a value that correcpond to that key.

> The following example demostate how you can iterate over dictionary elements.

In [40]:

for key, value in user.items():
    computed = ', '.join(value) if isinstance(value, list) else value
    print(f"{key.upper()}\t: {computed}")

NAME	: Jonh
SURNAME	: Doe
AGE	: 67
GENDER	: M
FAV	: soccer, green, cooking

You can medge two or more dictionaries using the `**` operator, bellow is the example that demostrate that.

In [41]:
other_stuff = {"location": "London", "dob": 1997}

full_user = {**user, **other_stuff}
full_user

{'name': 'Jonh',
 'surname': 'Doe',
 'age': 67,
 'gender': 'M',
 'fav': ['soccer', 'green', 'cooking'],
 'location': 'London',
 'dob': 1997}

You can convert a list of `tuples` into a dictionary. In the following example we demostrate how that can be done.

In [43]:
named_numbers = [("a", 1), ("b", 2), ("c", 3)]
named_numbers

[('a', 1), ('b', 2), ('c', 3)]

In [44]:
dict(named_numbers)

{'a': 1, 'b': 2, 'c': 3}

Let's say we have a function called `dog` which we don't know how many positional, args and `key word args` it will take. We can use the following sythax in the function signature:

```py
def dogs(name, *args, **kwargs):pass
```
Where:
1. `name` - is a required argument
2. `args` - will be a tuple of arguments that will be passed without names.
3. `kwargs` - will be the named args that will be passed to this function.

**Example**

In [72]:
def dogs(name, *args, **kwargs):
    print("name: ", name)
    print("args: ", args)
    print("kwargs: ", kwargs)
dogs("Me", 5, True, username="username", age=10, ower= "John")

name:  Me
args:  (5, True)
kwargs:  {'username': 'username', 'age': 10, 'ower': 'John'}

### 4. Sets

An unordered collection of unique elements.

You can create a set using the `{}` brackets

In [58]:
A = {1, 2, 3, 4, 4, 5, 6, 7}
B = {2, 4, 6, 8}
type(A)

set

Unlike when creating a dictionary where you use `{}` for an empty dictionary for a set if you want to create an empty set you should use the `set()` method.

In [73]:
empty_s = set()
print(empty_s)

set()

You can remove duplicate from a collection using the `set` method. Let's remove some duplicates in a list of characters.

In [59]:
name = list("hello")
name

['h', 'e', 'l', 'l', 'o']

In [61]:
list(set(name))

['h', 'l', 'e', 'o']

**Set intersection**

In [62]:
A & B

{2, 4, 6}

In [64]:
A.intersection(B)

{2, 4, 6}

**Set Union**

In [65]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

You can use the `in` method to check if the element exists in a set or not.

In [68]:
1 in A

True

You can use the `len` method to check the size or number of elements in a `set`.

In [69]:
len(A)

7

### 5. String

An ordered, immutable sequence of characters.

In [1]:
string = "This cat is awesome!"
type(string)

str

The `upper` method converts the string to upercase.

In [2]:
string.upper()

'THIS CAT IS AWESOME!'

The `lower` method converts the string to lower.

In [3]:
string.lower()

'this cat is awesome!'

The `swapcase` method swaps the case in a string.

In [4]:
string.swapcase()

'tHIS CAT IS AWESOME!'

The `capitalize` converts the first character of a string to uppercase.

In [6]:
"this is a cat".capitalize()

'This is a cat'

The `title` method, convert the first character of each word to capital later in the whole string.

In [8]:
string.title()

'This Cat Is Awesome!'

> ℹ️ This can also be done as follows.

In [9]:
" ".join([i .capitalize() for i in string.split()])

'This Cat Is Awesome!'

The `casfold` fold the case of a string.

In [10]:
string.casefold()

'this cat is awesome!'

You can concatenate strings using the `+` operator.

In [12]:
a = "cat"
b = "dog"

In [14]:
a + " "+ b

'cat dog'

The `strip()` method is used to remove white characters from left and right in a string.

In [19]:
c = "    bye   "
c

'    bye   '

In [20]:
c.strip()

'bye'

The `lstrip()` method is used to remove white characters from left in a string.

In [35]:
c.lstrip()

'bye   '

The `rstrip()` method is used to remove white characters from right in a string.

In [36]:
c.rstrip()

'    bye'

The `center` method is used to center a string in python.

In [46]:
"center".center(10, '-')

'--center--'

The `split` method is used to split strings into a list of words using a delimeter, the default delimeter is `space`

In [48]:
splitted = string.split()
splitted

['This', 'cat', 'is', 'awesome!']

If you want to convert a string into a list of characters you use the `list` method.

In [53]:
splitted = list('hello')
splitted

['h', 'e', 'l', 'l', 'o']

Joining list of strings into a single string you use the `join` method.

In [56]:
" ".join(['This', 'cat', 'is', 'awesome!'])

'This cat is awesome!'

In [47]:
# dir(str)

The ``count`` method is used to count the number of characters in a string.

In [27]:
"hellllo".count('l')

4

The `endswith` and `startswith` method, checks if the string start or ends with a given substring.

In [29]:
"mine".endswith('9')

False

In [30]:
"mine".startswith('m')

True

The `index` method is used to check the first index of a character or substring in a string.

In [31]:
"mine".index('i')

1

The `isdigit()` checks if the string is a digit or not.

In [34]:
"3".isdigit()

True

You can reverse a string in python as follows:

In [59]:
"".join(reversed(string))

'!emosewa si tac sihT'

In [58]:
string[::-1]

'!emosewa si tac sihT'

You can slice and index strings in python just like what you do with lists as follows:

In [61]:
string[9:11]

'is'

In [62]:
string[0]

'T'

In [63]:
string[-2]

'e'

The `len` method can also check the length or how many characters are in a string.

In [86]:
len(string)

20

### Question??
Given a string `"walah walah"`, return a string character that appears the most in this string.

In [82]:
i = "walah walah"

def count_most_occ(s):
    counts = {}
    max_count = 0
    most_frequent_char = ''

    for char in s:
        counts[char] = counts.get(char, 0) + 1
        if counts[char] > max_count:
            max_count = counts[char]
            most_frequent_char = char
        elif counts[char] == max_count and char < most_frequent_char:
            most_frequent_char = char  # Handles ties by choosing the lexicographically smaller character

    return most_frequent_char

assert count_most_occ(i) == 'a', "The most frequent character is a"

In [84]:
count_most_occ(i)

'a'